{
    "semi": true,
    "singleQuote": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn",
        "cva"
    ],
    "tailwindStylesheet": "src/styles/global.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
